<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="wrapper">
      <div class="banner">
        <div class="brand"></div>
        <h1>Company Name</h1>
        <div class="search">
          <form action="">
            <input type="text" name="Search" placeholder="Search" />
          </form>
        </div>
      </div>
      <div class="navbar">
        <ul>
          <li><a href="Index.html">Home</a></li>
          <li><a href="About.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="leftbar">
        <h3>Vertical Menu</h3>
        <ul>
          <li><a href="Index.html">Home</a></li>
          <li><a href="About.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="content">
        <h1>Contact us</h1>
        <img src="../images/contact.webp" style="width: 50%" />
        <p><b>Email:</b> name@example.com</p>
        <p><b>Number:</b> +8801245465787</p>
        <p><b>Location:</b> Area with postal code,city,country</p>
      </div>
      <div class="footer">&copy: All rights Reserved</div>
    </div>
  </body>
</html>
